/* styles.css */

.main-image {

  background: url("/assets/HeroImage.png");
  background-size:cover;
  height: 90vh;
}

@media (min-width: 640px) {
  .main-image {
    background-position: center;
  }
}
