/* styles.css */

.main-image {

  background: url("/assets/HeroImage.png");
  background-size:cover;
  height: 90vh;
}

.service-image {

  background: url("/assets/PharmaServiceImage.png");
  background-size:cover;
  height: 90vh;
}