/* styles.css */

.main-image {

  background: url("/assets/HeroImage.png");
  background-size:cover;
  height: 90vh;
}

.pharmaservice-image {

  background: url("/assets/PharmaServiceImage2.png");
  background-size:cover;
  height: 90vh;
}

.softwareservice-image {

  background: url("/assets/SoftwareDevelopmentService.png");
  background-size:cover;
  height: 90vh;
}